<h1>You have a <%= @richness_percent %>% chance of becoming wealthy by keeping up these habits.</h1>
<h2>You also have a <%= @poorness_percent %>% chance of becoming poor because of these habits.</h2>
<p><%= link_to 'Take the survey again', new_answer_path %></p>
